<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jikjk.dao.OverTimeMoneyDao">
    <insert id="insert">
        insert into overtime_money(e_id,o_money,om_createtime)values(#{eId},#{oMoney},#{omCreateTime})
    </insert>
    
    <select id="selectOverTime" resultType="OverTimeMoney">
        select *from overtime_money where e_id=#{eId}
    </select>

    <update id="updateOverTime">
        update overtime_money set om_createtime=#{omCreatetime} where e_id=#{eId}
    </update>

    <select id="selectAll" resultType="OverTimeMoney">
        select *from overtime_money
    </select>
</mapper>