<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jikjk.dao.PositionDao">
    <select id="selectById" resultType="Position">
        select *from position where d_id=#{dId}
    </select>

    <select id="selectAll" resultType="Position">
        select *from position
    </select>

    <select id="selectDidByName" resultType="Integer">
        select d_id from position where p_name=#{pName}
    </select>

    <insert id="insert" parameterType="Position">
        insert into position(p_name,d_id,p_createtime)values(#{pName},#{dId},#{pCreateTime})
    </insert>

    <delete id="delete">
        delete from position where p_id=#{pId}
    </delete>

    <update id="updatePos">
        update position set p_name=#{pName},d_id=#{dId} where p_id=#{pId}
    </update>

    <delete id="deleteByDid">
        delete from position where d_id=#{dId}
    </delete>
</mapper>