<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jikjk.dao.ResumeDao">
    <insert id="insert" parameterType="Resume">
        insert into resume(u_id,r_name,r_age,r_sex,education,school,aimduty,email,phone,lastwork,project,yourself,aimpay)
        values(#{uId},#{rName},#{rAge},#{rSex},#{education},#{school},#{aimDuty},#{email},#{phone},#{lastWork},#{project},#{yourself},#{aimPay})
    </insert>

    <select id="selectByUid" resultType="Resume">
        select *from resume where u_id=#{uId}
    </select>

    <update id="update">
        update resume set r_name=#{rName},r_age=#{rAge},r_sex=#{rSex},education=#{education},school=#{school},aimduty=#{aimDuty},email=#{email},phone=#{phone},lastwork=#{lastWork},project=#{project},yourself=#{yourself},aimpay=#{aimPay}
        where u_id=#{uId}
    </update>

    <select id="selectAll" resultType="Resume">
        select *from resume
    </select>

    <select id="selectByAimDuty" resultType="Resume">
        select *from resume where aimduty=#{aimduty}
    </select>

    <select id="selectByRid" resultType="Resume">
        select *from resume where r_id=#{rId}
    </select>
</mapper>