<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jikjk.dao.WageDao">
    <insert id="insert">
        insert into wage(e_id,basic,bonus,overtime,punish,social,w_createtime,advice)
        values(#{eId},#{basic},#{bonus},#{overtime},#{punish},#{social},#{wCreateTime},#{advice})
    </insert>

    <select id="selectByEid" resultType="Wage">
        select *from wage where e_id=#{eId}
    </select>

    <select id="selectAll" resultType="Wage">
        select *from wage
    </select>
</mapper>